<!-- <form (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <mat-form-field>
        <mat-label>Input</mat-label>
        <input type="file" (change)="onFileSelected($event)" />
    </mat-form-field> -->


      <div class="container">
        <div class="form-wrapper">
          <h2 class="text-2xl font-medium mb-4">Crea un nuovo profilo</h2>
            <form name="newProfile" #newProfile (ngSubmit)="onSubmit()" enctype="multipart/form-data">

            <mat-form-field appearance="fill" class="w-full mb-4">
              <mat-label>Nome</mat-label>
              <input 
              placeholder="Inserire nome"
              type="text"
              id="name"
              name="name"
              [(ngModel)]="profile.name"
              matInput
              />
              <!-- <mat-error *ngIf="profileForm.get('name')?.invalid && profileForm.get('name')?.touched">
                      Il nome è obbligatorio
              </mat-error> -->
            </mat-form-field>
           
          
        
            <mat-form-field appearance="fill" class="w-full">
                <mat-label>Cognome</mat-label>
                <input 
                    matInput
                    id="surname"
                    name="surname"
                    [(ngModel)]="profile.surname"

                    placeholder="Inserire cognome"
                  />
                  <!-- <mat-error *ngIf="profileForm.get('surname')?.invalid && profileForm.get('surname')?.touched">
                    Il cognome è obbligatorio
                  </mat-error> -->
            </mat-form-field>

           
                <mat-label>File</mat-label>
                <input type="file" (change)="onFileSelected($event)" />
          
              
      
            
      
            <div>
              <button
                mat-raised-button 
                color="primary" 
                type="submit" 
              >
                Aggiungi
              </button>
            </div>
          </form>
        </div>
      </div>
      
      
    <!-- <button type="submit">Invia</button>
</form> -->