<!-- Contenitore Principale -->
<div style="min-height: 100vh; width: 100%; padding: 0; box-sizing: border-box;">
    <div class="flex items-center relative mb-4">
        <!-- Barra di ricerca -->
        <div class="relative flex-1">
            <div class="relative text-gray-500 focus-within:text-gray-900">
                <div class="absolute inset-y-0 left-3 flex items-center pointer-events-none">
                    <svg class="w-5 h-5" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M17.5 17.5L15.4167 15.4167M15.8333 9.16667C15.8333 5.48477 12.8486 2.5 9.16667 2.5C5.48477 2.5 2.5 5.48477 2.5 9.16667C2.5 12.8486 5.48477 15.8333 9.16667 15.8333C11.0005 15.8333 12.6614 15.0929 13.8667 13.8947C15.0814 12.6872 15.8333 11.0147 15.8333 9.16667Z"
                            stroke="#9CA3AF" stroke-width="1.6" stroke-linecap="round" />
                    </svg>
                </div>
                <input [(ngModel)]="filterCriteria" type="text" id="default-search"
                    class="block w-80 h-11 pl-12 pr-16 py-2.5 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-full placeholder-gray-400 focus:outline-none"
                    placeholder="Filtra per comunicazione" (input)="filterByEverything()">

            </div>
        </div>

        <!-- Bottone Aggiungi -->
        <div >
            <button mat-fab color="primary" (click)=" toggleForm()" matTooltip="Aggiungi nuova comunicazione">
                <mat-icon class="text-2xl material-icons-outlined">add</mat-icon>
            </button>
        </div>
        
    </div>


    <!-- Contenitore Grigio Chiaro -->
    <div class="bg-gray-50 dark:bg-gray-800 min-h-screen flex items-start justify-center">
        <!-- Griglia di Card -->
        <div class="w-full max-w-7xl px-5">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3 sm:gap-5">
                <app-communication *ngFor="let communication of communications" [communication]="communication"
                    (delete)="deleteCommunication($event)">
                </app-communication>
            </div>
        </div>
    </div>
</div>
<div class="fixed inset-0 bg-black bg-opacity-50 z-50" [ngClass]="{'hidden': !showForm}" (click)="toggleForm()"></div>
<app-communication-form [ngClass]="{'hidden': !showForm}" class="comform"
    (add)="addNewCommunication($event)"></app-communication-form> <!--imposta visibilità-->