<div class="container">
  <div class="form-wrapper">
    <h2 class="text-2xl font-medium mb-4">Aggiungi una nuova comunicazione</h2>
    <form [formGroup]="communicationForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="w-full mb-4">
        <mat-label>Titolo</mat-label>
        <input 
        placeholder="Inserire titolo"
        type="text"
        id="communicationName"
        formControlName="communicationName"
        matInput
        />
        <mat-error *ngIf="communicationForm.get('communicationName')?.invalid && communicationForm.get('communicationName')?.touched">
                Il titolo è obbligatorio
        </mat-error>
      </mat-form-field>
     
    
      <div class="mb-4 flex space-x-4">
        <div class="w-1/2">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Da</mat-label>
            <input 
              matInput
              id="fromPerson"
              formControlName="fromPerson"
              placeholder="Inserire mittente"
            />
            <mat-error *ngIf="communicationForm.get('fromPerson')?.invalid && communicationForm.get('fromPerson')?.touched">
              Il campo "Da" è obbligatorio
            </mat-error>
          </mat-form-field>
        </div>

        <div class="w-1/2">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Per</mat-label>
            <input 
              matInput
              id="toPerson"
              formControlName="toPerson"
              placeholder="Inserire destinatario"
            />
            <mat-error *ngIf="communicationForm.get('toPerson')?.invalid && communicationForm.get('toPerson')?.touched">
              Il campo "Per" è obbligatorio
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <mat-form-field appearance="fill" class="w-full mb-4">
        <mat-label>Tipologia</mat-label>
        <mat-select formControlName="type">
          <mat-option value="">Seleziona tipologia</mat-option>
          <mat-option value="ORGANIZZATIVA">ORGANIZZATIVA</mat-option>
          <mat-option value="AMMINISTRATIVA">AMMINISTRATIVA</mat-option>
          <mat-option value="INFORMATIVA">INFORMATIVA</mat-option>
          <mat-option value="CAMBIOTURNO">CAMBIO TURNO</mat-option>
        </mat-select>
        <mat-error *ngIf="communicationForm.get('type')?.invalid && communicationForm.get('type')?.touched">
          Il campo "Tipologia" è obbligatorio
        </mat-error>
      </mat-form-field>


     
  <mat-label>Scegli grado di importanza</mat-label>
  <mat-radio-group formControlName="importance" aria-label="Select an importance level">
    <mat-radio-button value="ALTA">ALTA</mat-radio-button>
    <mat-radio-button value="MEDIA">MEDIA</mat-radio-button>
    <mat-radio-button value="BASSA">BASSA</mat-radio-button>
  </mat-radio-group>
  <mat-error *ngIf="communicationForm.get('importance')?.invalid && communicationForm.get('importance')?.touched">
    Il campo "Importanza" è obbligatorio
  </mat-error>



      <mat-form-field appearance="fill" class="w-full mb-4 descrizione">
        <mat-label>Descrizione</mat-label>
        <textarea 
          matInput
          id="message"
          formControlName="description"
          placeholder="Descrivi la comunicazione"
          rows="5"
        ></textarea>
        <mat-error *ngIf="communicationForm.get('description')?.invalid && communicationForm.get('description')?.touched">
          Il campo "Descrizione" è obbligatorio
        </mat-error>
      </mat-form-field>

      <mat-label>Aggiungi un pdf</mat-label>
      <input type="file" (change)="onFileSelected($event)" />

      <div>
        <button
        [disabled]="communicationForm.invalid"
          mat-raised-button 
          color="primary" 
          type="submit" 
        >
          Aggiungi
        </button>
      </div>
    </form>
  </div>
</div>
