<div class="container">
  <div class="form-wrapper">
    <h2 class="text-2xl font-medium mb-4">Aggiungi una nuova comunicazione</h2>
    <form [formGroup]="communicationForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label for="titolo" class="block text-gray-700 font-medium mb-2">Titolo</label>
        <input type="text" id="titolo" formControlName="communicationName"
               class="border border-gray-400 p-2 w-full rounded-lg focus:outline-none focus:border-blue-400" required>
               <div *ngIf="communicationForm.get('communicationName')?.invalid && communicationForm.get('communicationName')?.touched">
                Il titolo è obbligatorio
               </div>
      </div>
      <div class="mb-4 flex space-x-4">
        <div class="w-1/2">
          <label for="fromPerson" class="block text-gray-700 font-medium mb-2">Da</label>
          <input type="text" formControlName="fromPerson"
                 class="border border-gray-400 p-2 w-full rounded-lg focus:outline-none focus:border-blue-400" required>
                 <div *ngIf="communicationForm.get('fromPerson')?.invalid && communicationForm.get('fromPerson')?.touched">
                  Il campo "Da" è obbligatorio
                 </div>
        </div>
        <div class="w-1/2">
          <label for="toPerson" class="block text-gray-700 font-medium mb-2">Per</label>
          <input type="text" formControlName="toPerson"
                 class="border border-gray-400 p-2 w-full rounded-lg focus:outline-none focus:border-blue-400" required>
                 <div *ngIf="communicationForm.get('toPerson')?.invalid && communicationForm.get('toPerson')?.touched">
                  Il campo "Per" è obbligatorio
                 </div>
        </div>

        <div class="mb-4">
          <label for="creationDate" class="block text-gray-700 font-medium mb-2">Data di Creazione</label>
          <input type="hidden" id="creationDate" formControlName="creationDate">
        </div>
      </div>
      <div class="mb-2">
        <label for="tipologia" class="block text-gray-700 font-medium mb-2">Tipologia</label>
        <select id="tipologia" formControlName="type"
                class="border border-gray-400 p-2 w-full rounded-lg focus:outline-none focus:border-blue-400" required>
                <div *ngIf="communicationForm.get('type')?.invalid && communicationForm.get('type')?.touched">
                  Il campo "Tipologia" è obbligatorio
                </div>
          <option value="">Seleziona tipologia</option>
          <option value="ORGANIZZATIVA">ORGANIZZATIVA</option>
          <option value="AMMINISTRATIVA">AMMINISTRATIVA</option>
          <option value="INFORMATIVA">INFORMATIVA</option>
          <option value="CAMBIOTURNO">CAMBIO TURNO</option>
        </select>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 font-medium mb-2">Scegli grado di importanza</label>
        <div class="flex flex-wrap -mx-2">
          <div class="px-2 w-1/3">
            <label for="importanceHigh" class="block text-gray-700 font-medium mb-2">
              <input type="radio" id="importanceHigh" formControlName="importance" value="ALTA" class="mr-2">ALTA
            </label>
          </div>
          <div class="px-2 w-1/3">
            <label for="importanceMedium" class="block text-gray-700 font-medium mb-2">
              <input type="radio" id="importanceMedium" formControlName="importance" value="MEDIA" class="mr-2">MEDIA
            </label>
          </div>
          <div class="px-2 w-1/3">
            <label for="importanceLow" class="block text-gray-700 font-medium mb-2">
              <input type="radio" id="importanceLow" formControlName="importance" value="BASSA" class="mr-2">BASSA
            </label>
          </div>
        </div>
      </div>
      <div class="mb-2">
        <label for="message" class="block text-gray-700 font-medium mb-2">Descrizione</label>
        <textarea id="message" formControlName="description"
                  class="border border-gray-400 p-2 w-full rounded-lg focus:outline-none focus:border-blue-400" rows="5"></textarea>
                  <div *ngIf="communicationForm.get('description')?.invalid && communicationForm.get('description')?.touched">
                    Il campo "Da" è obbligatorio
                  </div>
      </div>
      <div>
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600">Aggiungi</button>
      </div>
    </form>
  </div>
</div>
