
<!-- <button (click)="orderService.addOrder()">pls</button> -->
<td class="px-6 py-4 whitespace-nowrap">
        <div class="flex items-center">
        <div class="ml-4">
            <div class="text-sm font-medium text-gray-900">
                {{order.productCode}}
            </div>
            
        </div>
    </div>
</td>
<td class="px-6 py-4 whitespace-nowrap">
    <div class="text-sm text-gray-900">{{order.supplierName}}</div>
</td>
<!-- <td class="px-6 py-4 whitespace-nowrap">
    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
        Active
    </span>
</td> -->
<!-- <td class="px-6 py-4 whitespace-nowrap">
    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
        {{order.categoryName}}
    </span>
</td> -->
<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
    {{order.productName}}
</td>
<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
    {{order.orderDate | date: 'dd-MM-yyyy'}}
</td>

<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
    <div 
    [ngClass]="{'hidden': isRestrictedEditModeActiveUnits}"
    class="flex items-center justify-end h-full">
        <div class="relative flex items-center justify-center w-16">
            <input 
                type="number" 
                id="unitOrderedQuantity" 
                name="unitOrderedQuantity"
                min="0"
                max="999999"
                class="h-8 w-full bg-transparent rounded-md text-black ring-2 px-2 ring-gray-500 focus:ring-sky-600 focus:outline-none focus:border-rose-600 mr-1" 
                [placeholder]="previousUnitQuantity"
                [(ngModel)]="order.unitOrderedQuantity" 
                (ngModelChange)="onModelChange($event)"
            />
        </div>
        <button 
        (click)="editUnitQuantity()"
        (click)="employeeEditProductUnitsToggle()"
        
        class="p-2 rounded-full group transition-all duration-500 flex item-center btnBg"
        >
        <svg 
                xmlns="http://www.w3.org/2000/svg" 
                width="24" 
                height="24" 
                viewBox="0 0 24 24" 
                fill="none" 
                stroke="#41AF60" 
                stroke-width="2" 
                stroke-linecap="round" 
                stroke-linejoin="round" 
                class="feather feather-check-square"
            >
                <polyline points="9 11 12 14 22 4"></polyline>
                <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
            </svg>
        </button>
    </div>
    
    <div 
    [ngClass]="{'hidden': !isRestrictedEditModeActiveUnits}"
    class="flex items-center justify-end space-x-2">
        <span>{{order.unitOrderedQuantity}}</span>
        <!-- pulsante di modifica per dipendenti  -->
        <button 
        (click)="employeeEditProductUnitsToggle()"
        class="p-2 rounded-full group transition-all duration-500 flex item-center btnBg"
        >
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 24 24" fill="none" stroke="#999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
</button>

    </div>
</td>
<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
    {{order.unitType}}
</td>


<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
    <div 
    [ngClass]="{'hidden': isRestrictedEditModeActivePackage}"
    class="flex items-center justify-end h-full">
        <div class="relative flex items-center justify-center w-16">
            <input 
                type="number" 
                id="packagingOrderedQuantity" 
                name="packagingOrderedQuantity"
                min="0"
                max="999999"
                class="h-8 w-full bg-transparent rounded-md text-black ring-2 px-2 ring-gray-500 focus:ring-sky-600 focus:outline-none focus:border-rose-600 mr-1" 
                [placeholder]="order.packagingOrderedQuantity"
                [(ngModel)]="order.packagingOrderedQuantity"
               

            />
        </div>
        <button 
        (click)="employeeEditProductPackageToggle()"
        (click)="editPackagingQuantity()"
        class="p-2 rounded-full group transition-all duration-500 flex item-center btnBg"
        >
        <svg 
                xmlns="http://www.w3.org/2000/svg" 
                width="24" 
                height="24" 
                viewBox="0 0 24 24" 
                fill="none" 
                stroke="#41AF60" 
                stroke-width="2" 
                stroke-linecap="round" 
                stroke-linejoin="round" 
                class="feather feather-check-square"
            >
                <polyline points="9 11 12 14 22 4"></polyline>
                <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
            </svg>
        </button>
    </div>
    
    <div 
    [ngClass]="{'hidden': !isRestrictedEditModeActivePackage}"
    class="flex items-center justify-end space-x-2">
        <span>{{order.packagingOrderedQuantity}}</span>
        <!-- pulsante di modifica per dipendenti  -->
        <button 
        (click)="employeeEditProductPackageToggle()"
        class="p-2 rounded-full group transition-all duration-500 flex item-center btnBg"
        >
        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 24 24" fill="none" stroke="#999" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
</button>
    </div>
</td>
<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
    {{order.packagingType}}
</td>
<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 text-center">
    <div class="relative">
        <input type="checkbox" class="w-4 h-4 accent-[#003F5C]" (change)="updateOrderArrival()" [checked]="order.arrived">
        <div *ngIf="order.deliverDate" class="mt-2 flex items-center justify-center text-gray-500 text-xs absolute top-4">
            {{order.deliverDate | date: 'dd-MM-yyyy'}}
        </div>
    </div>
</td>



<td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
    <div class="relative inline-block">
        <button 
    [disabled]="order.arrived"
    (click)="togglePopover()"
    class="p-2 rounded-full group transition-all duration-500 flex item-center btnBg"
    [attr.aria-haspopup]="true"
    [attr.aria-expanded]="isPopoverVisible ? 'true' : 'false'"
>
    <svg 
        xmlns="http://www.w3.org/2000/svg" 
        width="21" 
        height="21" 
        viewBox="0 0 24 24" 
        fill="none" 
        stroke-width="2" 
        stroke-linecap="round" 
        stroke-linejoin="round" 
        [ngClass]="{'stroke-gray-600': order.arrived, 'stroke-[#FF6E54]': !order.arrived}" 
        aria-hidden="true"
    >
        <polyline points="3 6 5 6 21 6"></polyline>
        <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
        <line x1="10" y1="11" x2="10" y2="17"></line>
        <line x1="14" y1="11" x2="14" y2="17"></line>
    </svg>
</button>



        <!-- Popover content -->
        <div *ngIf="isPopoverVisible" 
            class="popoverConfirm absolute z-10 right-0 top-0 mt-2 w-64 text-sm text-gray-500 bg-white border border-gray-200 rounded-lg shadow-sm"
            style="transform: translateY(-100%);">
        
            <div class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg">
                <h3 class="font-semibold text-gray-900">Conferma l'eliminazione dell'ordine?</h3>
            </div>
            <div class="px-3 py-2 flex justify-between">
                <button 
                    (click)="deleteOrder()" 
                    class="py-1 px-3 text-sm font-medium text-white bg-red-600 rounded-lg hover:bg-red-700"
                >
                    Conferma
                </button>
                <button 
                    (click)="togglePopover()" 
                    class="py-1 px-3 text-sm font-medium text-gray-500 bg-gray-200 rounded-lg hover:bg-gray-300"
                >
                    Annulla
                </button>
            </div>
        </div>
    </div>
</td>

