<div id="alert"
    class="alert flex absolute z-50 right-0 top-16 w-10/12 bg-opacity-100 items-center p-4 mb-4 text-sm text-red-800 border-1 border-red-300 rounded-lg bg-[#FEF2F2] dark:bg-gray-800 dark:text-red-400 dark:border-red-800"
    role="alert">
    <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
        fill="currentColor" viewBox="0 0 20 20">
        <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
    </svg>
    <span class="sr-only">Info</span>
    <div>
        <span class="font-medium"> </span>
        <p>{{genericError}}</p>
    </div>
</div>

<div class="overflow-x-auto">
    <div class="min-w-full inline-block align-middle">
        <div class="flex items-center justify-between mb-4">
            <!-- Input field -->
            <div class="relative text-gray-500 focus-within:text-gray-900">
                <div class="absolute inset-y-0 left-1 flex items-center pl-3 pointer-events-none">
                    <svg class="w-5 h-5" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M17.5 17.5L15.4167 15.4167M15.8333 9.16667C15.8333 5.48477 12.8486 2.5 9.16667 2.5C5.48477 2.5 2.5 5.48477 2.5 9.16667C2.5 12.8486 5.48477 15.8333 9.16667 15.8333C11.0005 15.8333 12.6614 15.0929 13.8667 13.8947C15.0814 12.6872 15.8333 11.0147 15.8333 9.16667Z"
                            stroke="#9CA3AF" stroke-width="1.6" stroke-linecap="round" />
                        <path
                            d="M17.5 17.5L15.4167 15.4167M15.8333 9.16667C15.8333 5.48477 12.8486 2.5 9.16667 2.5C5.48477 2.5 2.5 5.48477 2.5 9.16667C2.5 12.8486 5.48477 15.8333 9.16667 15.8333C11.0005 15.8333 12.6614 15.0929 13.8667 13.8947C15.0814 12.6872 15.8333 11.0147 15.8333 9.16667Z"
                            stroke="black" stroke-opacity="0.2" stroke-width="1.6" stroke-linecap="round" />
                        <path
                            d="M17.5 17.5L15.4167 15.4167M15.8333 9.16667C15.8333 5.48477 12.8486 2.5 9.16667 2.5C5.48477 2.5 2.5 5.48477 2.5 9.16667C2.5 12.8486 5.48477 15.8333 9.16667 15.8333C11.0005 15.8333 12.6614 15.0929 13.8667 13.8947C15.0814 12.6872 15.8333 11.0147 15.8333 9.16667Z"
                            stroke="black" stroke-opacity="0.2" stroke-width="1.6" stroke-linecap="round" />
                    </svg>
                </div>
                <input [(ngModel)]="filterCriteria" type="text" id="default-search"
                    class="block w-80 h-11 pr-5 pl-12 py-2.5 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-full placeholder-gray-400 focus:outline-none"
                    placeholder="Filtra la tabella" (input)="filter()" />
            </div>

            <!-- Button and Popover -->
            <div class="flex absolute right-16 top-20 group">
                <button (click)="showPopover = !showPopover" type="button" aria-expanded="false"
                    class="flex items-center justify-center relative text-white bg-green-400 hover:bg-green-500 rounded-full w-12 h-12">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-send absolute bottom-2.5 right-3" width="25" height="25">
                        <line x1="22" y1="2" x2="11" y2="13"></line>
                        <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                    </svg>
                    <span class="sr-only">Invia ordini</span>
                </button>

                <!-- Popover -->
                <audio #audioDone src="assets/doneAudio.mp3"></audio>
                <div [ngClass]="{'hidden': !showDoneAnimation}">
                    <img src="SuccessLowRes.gif" class="fixed inset-0 mx-auto my-auto z-50 w-80 h-80 myLoadGif"
                        alt="Success GIF">
                    <div class="fixed inset-0 bg-white opacity-70 z-40"></div>
                </div>
                <div *ngIf="showPopover"
                    class="popover absolute top-full mt-1 right-0 bg-white shadow-lg border border-gray-300 p-4 rounded-lg">
                    <div class="popover-content">
                        <p class="text-gray-700">Vuoi confermare l'invio della email con gli ordini?</p>
                        <div class="mt-3 flex justify-end space-x-2">
                            <button class="btn bg-green-400 hover:bg-green-500 text-white"
                                (click)="confirmCancellation(); mailOrders(audioDone)">Conferma</button>
                            <button class="btn bg-red-400 hover:bg-red-500 text-white"
                                (click)="cancelPopover()">Annulla</button>
                        </div>
                    </div>
                    <div class="popover-arrow absolute top-0 right-1 bg-white"></div>
                </div>
            </div>
        </div>

        <!-- Toggle ordini -->
        <div class="flex justify-start pb-3 px-2">
            <label (change)="toggleBetweenRecentandOlderOrders()" class="inline-flex items-center cursor-pointer">
                <input type="checkbox" value="" class="sr-only peer">
                <div
                    class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
                </div>
                <span class="mx-3 text-sm font-medium text-gray-900 dark:text-gray-300">
                    @if (!displayRecentOrders) { Mostra solo ordini recenti } @else { Mostra storico ordini }
                </span>
            </label>
        </div>


        <table class="min-w-full divide-y divide-gray-200 overflow-x-auto">
            <thead class="bg-[#f2f2f2]">
                <tr>
                    <th scope="col" (click)="sort('productCode')"
                        class="relative px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Identificativo
                        <span class="absolute" style="width: 16px;">
                            <span *ngIf="sortColumn === 'productCode' && orderingMap['productCode'] === 'asc'">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"
                                    viewBox="0 0 16 16">
                                    <path fill="#444444" d="M11 7h-6l3-4z"></path>
                                </svg>
                            </span>
                            <span *ngIf="sortColumn === 'productCode' && orderingMap['productCode'] === 'desc'">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"
                                    viewBox="0 0 16 16">
                                    <path fill="#444444" d="M5 9h6l-3 4z"></path>
                                </svg>
                            </span>
                            <span *ngIf="sortColumn === 'productCode' && orderingMap['productCode'] === 'default'">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"
                                    viewBox="0 0 16 16">
                                    <path fill="#444444" d="M11 7h-6l3-4z"></path>
                                    <path fill="#444444" d="M5 9h6l-3 4z"></path>
                                </svg>
                            </span>
                        </span>
                    </th>
                    <th scope="col" (click)="sort('supplierName')"
                        class="relative px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Fornitore
                        <span class="absolute" style="width: 16px;">
                            <span *ngIf="sortColumn === 'supplierName' && orderingMap['supplierName'] === 'asc'">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"
                                    viewBox="0 0 16 16">
                                    <path fill="#444444" d="M11 7h-6l3-4z"></path>
                                </svg>
                            </span>
                            <span *ngIf="sortColumn === 'supplierName' && orderingMap['supplierName'] === 'desc'">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"
                                    viewBox="0 0 16 16">
                                    <path fill="#444444" d="M5 9h6l-3 4z"></path>
                                </svg>
                            </span>
                            <span *ngIf="sortColumn === 'supplierName' && orderingMap['supplierName'] === 'default'">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"
                                    viewBox="0 0 16 16">
                                    <path fill="#444444" d="M11 7h-6l3-4z"></path>
                                    <path fill="#444444" d="M5 9h6l-3 4z"></path>
                                </svg>
                            </span>
                        </span>
                    </th>
                    <th scope="col" (click)="sort('productName')"
                        class="relative px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Nome Prodotto
                        <span class="absolute" style="width: 16px;">
                            <span *ngIf="sortColumn === 'productName' && orderingMap['productName'] === 'asc'">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"
                                    viewBox="0 0 16 16">
                                    <path fill="#444444" d="M11 7h-6l3-4z"></path>
                                </svg>
                            </span>
                            <span *ngIf="sortColumn === 'productName' && orderingMap['productName'] === 'desc'">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"
                                    viewBox="0 0 16 16">
                                    <path fill="#444444" d="M5 9h6l-3 4z"></path>
                                </svg>
                            </span>
                            <span *ngIf="sortColumn === 'productName' && orderingMap['productName'] === 'default'">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"
                                    viewBox="0 0 16 16">
                                    <path fill="#444444" d="M11 7h-6l3-4z"></path>
                                    <path fill="#444444" d="M5 9h6l-3 4z"></path>
                                </svg>
                            </span>
                        </span>
                    </th>
                    <th scope="col" (click)="sort('orderDate')"
                        class="relative px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Data Ordine
                        <span class="absolute" style="width: 16px;">
                            <span *ngIf="sortColumn === 'orderDate' && orderingMap['orderDate'] === 'asc'">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"
                                    viewBox="0 0 16 16">
                                    <path fill="#444444" d="M11 7h-6l3-4z"></path>
                                </svg>
                            </span>
                            <span *ngIf="sortColumn === 'orderDate' && orderingMap['orderDate'] === 'desc'">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"
                                    viewBox="0 0 16 16">
                                    <path fill="#444444" d="M5 9h6l-3 4z"></path>
                                </svg>
                            </span>
                            <span *ngIf="sortColumn === 'orderDate' && orderingMap['orderDate'] === 'default'">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"
                                    viewBox="0 0 16 16">
                                    <path fill="#444444" d="M11 7h-6l3-4z"></path>
                                    <path fill="#444444" d="M5 9h6l-3 4z"></path>
                                </svg>
                            </span>
                        </span>
                    </th>
                    <th scope="col" (click)="sort('unitOrderedQuantity')"
                        class="relative px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Unità Ordinate
                        <span class="absolute" style="width: 16px;">
                            <span
                                *ngIf="sortColumn === 'unitOrderedQuantity' && orderingMap['unitOrderedQuantity'] === 'asc'">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"
                                    viewBox="0 0 16 16">
                                    <path fill="#444444" d="M11 7h-6l3-4z"></path>
                                </svg>
                            </span>
                            <span
                                *ngIf="sortColumn === 'unitOrderedQuantity' && orderingMap['unitOrderedQuantity'] === 'desc'">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"
                                    viewBox="0 0 16 16">
                                    <path fill="#444444" d="M5 9h6l-3 4z"></path>
                                </svg>
                            </span>
                            <span
                                *ngIf="sortColumn === 'unitOrderedQuantity' && orderingMap['unitOrderedQuantity'] === 'default'">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"
                                    viewBox="0 0 16 16">
                                    <path fill="#444444" d="M11 7h-6l3-4z"></path>
                                    <path fill="#444444" d="M5 9h6l-3 4z"></path>
                                </svg>
                            </span>
                        </span>
                    </th>
                    <th scope="col" (click)="sort('unitType')"
                        class="relative px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        U.M.1
                        <span class="absolute" style="width: 16px;">
                            <span *ngIf="sortColumn === 'unitType' && orderingMap['unitType'] === 'asc'">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"
                                    viewBox="0 0 16 16">
                                    <path fill="#444444" d="M11 7h-6l3-4z"></path>
                                </svg>
                            </span>
                            <span *ngIf="sortColumn === 'unitType' && orderingMap['unitType'] === 'desc'">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"
                                    viewBox="0 0 16 16">
                                    <path fill="#444444" d="M5 9h6l-3 4z"></path>
                                </svg>
                            </span>
                            <span *ngIf="sortColumn === 'unitType' && orderingMap['unitType'] === 'default'">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"
                                    viewBox="0 0 16 16">
                                    <path fill="#444444" d="M11 7h-6l3-4z"></path>
                                    <path fill="#444444" d="M5 9h6l-3 4z"></path>
                                </svg>
                            </span>
                        </span>
                    </th>
                    <th scope="col" (click)="sort('packagingOrderedQuantity')"
                        class="relative px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Confezioni Ordinate
                        <span class="absolute" style="width: 16px;">
                            <span
                                *ngIf="sortColumn === 'packagingOrderedQuantity' && orderingMap['packagingOrderedQuantity'] === 'asc'">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"
                                    viewBox="0 0 16 16">
                                    <path fill="#444444" d="M11 7h-6l3-4z"></path>
                                </svg>
                            </span>
                            <span
                                *ngIf="sortColumn === 'packagingOrderedQuantity' && orderingMap['packagingOrderedQuantity'] === 'desc'">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"
                                    viewBox="0 0 16 16">
                                    <path fill="#444444" d="M5 9h6l-3 4z"></path>
                                </svg>
                            </span>
                            <span
                                *ngIf="sortColumn === 'packagingOrderedQuantity' && orderingMap['packagingOrderedQuantity'] === 'default'">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"
                                    viewBox="0 0 16 16">
                                    <path fill="#444444" d="M11 7h-6l3-4z"></path>
                                    <path fill="#444444" d="M5 9h6l-3 4z"></path>
                                </svg>
                            </span>
                        </span>

                    </th>
                    <th scope="col" (click)="sort('packagingType')"
                        class="relative px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        U.M.2
                        <span class="absolute" style="width: 16px;">
                            <span *ngIf="sortColumn === 'packagingType' && orderingMap['packagingType'] === 'asc'">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"
                                    viewBox="0 0 16 16">
                                    <path fill="#444444" d="M11 7h-6l3-4z"></path>
                                </svg>
                            </span>
                            <span *ngIf="sortColumn === 'packagingType' && orderingMap['packagingType'] === 'desc'">
                                <!-- <mat-icon class="text-[1rem]">arrow_drop_down</mat-icon> -->
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"
                                    viewBox="0 0 16 16">
                                    <path fill="#444444" d="M5 9h6l-3 4z"></path>
                                </svg>
                            </span>
                            <span *ngIf="sortColumn === 'packagingType' && orderingMap['packagingType'] === 'default'">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"
                                    viewBox="0 0 16 16">
                                    <path fill="#444444" d="M11 7h-6l3-4z"></path>
                                    <path fill="#444444" d="M5 9h6l-3 4z"></path>
                                </svg>
                            </span>
                        </span>
                    </th>
                    <th scope="col" (click)="sort('deliverDate')"
                        class="relative px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Arrivato
                        <span class="absolute" style="width: 16px;">
                            <span *ngIf="sortColumn === 'deliverDate' && orderingMap['deliverDate'] === 'asc'">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"
                                    viewBox="0 0 16 16">
                                    <path fill="#444444" d="M11 7h-6l3-4z"></path>
                                </svg>
                            </span>
                            <span *ngIf="sortColumn === 'deliverDate' && orderingMap['deliverDate'] === 'desc'">
                                <!-- <mat-icon class="text-[1rem]">arrow_drop_down</mat-icon> -->
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"
                                    viewBox="0 0 16 16">
                                    <path fill="#444444" d="M5 9h6l-3 4z"></path>
                                </svg>
                            </span>
                            <span *ngIf="sortColumn === 'deliverDate' && orderingMap['deliverDate'] === 'default'">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16"
                                    viewBox="0 0 16 16">
                                    <path fill="#444444" d="M11 7h-6l3-4z"></path>
                                    <path fill="#444444" d="M5 9h6l-3 4z"></path>
                                </svg>
                            </span>
                        </span>
                    </th>
                    <th scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Azioni
                    </th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                @for (order of orders; track order.id)
                {
                <tr (newDeleteEvent)="deleteOrder($event)" (orderUpdated)="onOrderUpdated($event)"
                    (showErrorAlert)="errorAlert($event)" app-order [order]="order">
                </tr>
                }

                <tr *ngIf="orders.length==0">
                    <td colspan="10" class="px-6 py-4 text-center text-gray-500">
                        Nessun ordine presente
                    </td>
                </tr>

            </tbody>
            <div *ngIf="showDeleteToastDiv" id="toast-success"
                class="fixed bottom-5 right-5 flex items-center w-full max-w-xs p-3 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800 transition-opacity duration-300 ease-out transform"
                [ngClass]="{
                    'opacity-0 translate-y-5 duration-500 ease-in-out': !isVisibleD,
                    'opacity-100 translate-y-0 duration-500 ease-in-out': isVisibleD
                    }" role="alert">
                <div
                    class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                        viewBox="0 0 20 20">
                        <path
                            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                    </svg>
                    <span class="sr-only">Check icon</span>
                </div>
                <div class="ms-3 text-gray-900 text-sm font-normal">Ordine eliminato!</div>
                <button (click)="hideDeleteToast()" type="button"
                    class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700"
                    aria-label="Close">
                    <span class="sr-only">Close</span>
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                    </svg>
                </button>
            </div>

        </table>

    </div>
</div>