<div class="bg-white shadow-lg rounded-lg p-4 gap-4">
    <h3 class="text-lg font-semibold text-gray-900 truncate">{{ communication.communicationName }}</h3>
    <p class="text-sm text-gray-600"><strong>Da:</strong> {{ communication.fromPerson }}</p>
    <p class="text-sm text-gray-600"><strong>Per:</strong> {{ communication.toPerson }}</p>
    <p class="text-sm text-gray-600 mt-2"><strong>Data:</strong> {{ communication.creationDate }}</p>
    <p class="text-sm text-gray-600 mt-2">{{ communication.description }}</p>
    <span [ngClass]="getTypeLable()" class="inline-block mt-2 px-2 py-1 text-xs font-semibold rounded-full">{{ communication.type }}</span>
    <span [ngClass]="getImportanceLable()" class="inline-block mt-2 px-2 py-1 text-xs font-semibold rounded-full">{{ communication.importance }}</span>
  </div>
