<div class="flex flex-col" >
    <div class=" overflow-x-auto pt-1" >
      <div class="min-w-full inline-block align-middle" >
        <!-- dove inizia il div della barra di ricerca -->
        <div class="relative flex text-gray-500 focus-within:text-gray-900 mb-4"> 
            <!-- Icona della ricerca -->
            <div class="absolute inset-y-0 left-1 flex items-center pl-3 pointer-events-none">
                <svg class="w-5 h-5" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.5 17.5L15.4167 15.4167M15.8333 9.16667C15.8333 5.48477 12.8486 2.5 9.16667 2.5C5.48477 2.5 2.5 5.48477 2.5 9.16667C2.5 12.8486 5.48477 15.8333 9.16667 15.8333C11.0005 15.8333 12.6614 15.0929 13.8667 13.8947C15.0814 12.6872 15.8333 11.0147 15.8333 9.16667Z" stroke="#9CA3AF" stroke-width="1.6" stroke-linecap="round" />
                    <path d="M17.5 17.5L15.4167 15.4167M15.8333 9.16667C15.8333 5.48477 12.8486 2.5 9.16667 2.5C5.48477 2.5 2.5 5.48477 2.5 9.16667C2.5 12.8486 5.48477 15.8333 9.16667 15.8333C11.0005 15.8333 12.6614 15.0929 13.8667 13.8947C15.0814 12.6872 15.8333 11.0147 15.8333 9.16667Z" stroke="black" stroke-opacity="0.2" stroke-width="1.6" stroke-linecap="round" />
                    <path d="M17.5 17.5L15.4167 15.4167M15.8333 9.16667C15.8333 5.48477 12.8486 2.5 9.16667 2.5C5.48477 2.5 2.5 5.48477 2.5 9.16667C2.5 12.8486 5.48477 15.8333 9.16667 15.8333C11.0005 15.8333 12.6614 15.0929 13.8667 13.8947C15.0814 12.6872 15.8333 11.0147 15.8333 9.16667Z" stroke="black" stroke-opacity="0.2" stroke-width="1.6" stroke-linecap="round" />
                </svg>
            </div>
            
            <!-- Input di ricerca -->
            <input 
                [(ngModel)]="filterCriteria" 
                type="text" id="default-search" 
                class="block w-80 h-11 pr-5 pl-12 py-2.5 text-base font-normal shadow-xs text-gray-900 bg-transparent border border-gray-300 rounded-full placeholder-gray-400 focus:outline-none" 
                placeholder="fornitore, categoria, prodotto"
                (input)="filterByEverything()"
            >
            
            <!-- Contenitore del dial -->
            <div data-dial-init class="flex absolute right-10 group">
                <!-- Menu del dial -->
                <div id="speed-dial-menu-horizontal" class="flex items-center space-x-2 rtl:space-x-reverse mr-3" [ngClass]="{'hidden': !isDialOpen}">
                    <!-- Bottone di condivisione -->
                    <button type="button" data-tooltip-target="tooltip-share" data-tooltip-placement="top" class="flex justify-center items-center w-[52px] h-[52px] text-gray-500 hover:text-gray-900 bg-white rounded-full border border-gray-200 dark:border-gray-600 shadow-sm dark:hover:text-white dark:text-gray-400 hover:bg-gray-50 dark:bg-gray-700 dark:hover:bg-gray-600 focus:ring-4 focus:ring-gray-300 focus:outline-none dark:focus:ring-gray-400">
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 18">
                            <path d="M14.419 10.581a3.564 3.564 0 0 0-2.574 1.1l-4.756-2.49a3.54 3.54 0 0 0 .072-.71 3.55 3.55 0 0 0-.043-.428L11.67 6.1a3.56 3.56 0 1 0-.831-2.265c.006.143.02.286.043.428L6.33 6.218a3.573 3.573 0 1 0-.175 4.743l4.756 2.491a3.58 3.58 0 1 0 3.508-2.871Z"/>
                        </svg>
                        <span class="sr-only">Share</span>
                    </button>
                    <!-- Tooltip di condivisione -->
                    <div id="tooltip-share" role="tooltip" class="absolute z-10 invisible inline-block w-auto px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                        Share
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                    
                    <!-- Bottone di stampa -->
                    <button type="button" data-tooltip-target="tooltip-print" data-tooltip-placement="top" class="flex justify-center items-center w-[52px] h-[52px] text-gray-500 hover:text-gray-900 bg-white rounded-full border border-gray-200 dark:border-gray-600 shadow-sm dark:hover:text-white dark:text-gray-400 hover:bg-gray-50 dark:bg-gray-700 dark:hover:bg-gray-600 focus:ring-4 focus:ring-gray-300 focus:outline-none dark:focus:ring-gray-400">
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M5 20h10a1 1 0 0 0 1-1v-5H4v5a1 1 0 0 0 1 1Z"/>
                            <path d="M18 7H2a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2v-3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2Zm-1-2V2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v3h14Z"/>
                        </svg>
                        <span class="sr-only">Print</span>
                    </button>
                    <!-- Tooltip di stampa -->
                    <div id="tooltip-print" role="tooltip" class="absolute z-10 invisible inline-block w-auto px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                        Print
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                    
                    <!-- Bottone di download -->
                    <button type="button" data-tooltip-target="tooltip-download" data-tooltip-placement="top" class="flex justify-center items-center w-[52px] h-[52px] text-gray-500 hover:text-gray-900 bg-white rounded-full border border-gray-200 dark:border-gray-600 shadow-sm dark:hover:text-white dark:text-gray-400 hover:bg-gray-50 dark:bg-gray-700 dark:hover:bg-gray-600 focus:ring-4 focus:ring-gray-300 focus:outline-none dark:focus:ring-gray-400">
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M14.707 7.793a1 1 0 0 0-1.414 0L11 10.086V1.5a1 1 0 0 0-2 0v8.586L6.707 7.793a1 1 0 1 0-1.414 1.414l4 4a1 1 0 0 0 1.416 0l4-4a1 1 0 0 0-.002-1.414Z"/>
                            <path d="M18 12h-2.55l-2.975 2.975a3.5 3.5 0 0 1-4.95 0L4.55 12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"/>
                        </svg>
                        <span class="sr-only">Download</span>
                    </button>
                    <!-- Tooltip di download -->
                    <div id="tooltip-download" role="tooltip" class="absolute z-10 invisible inline-block w-auto px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                        Download
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                    <!-- Bottone di copia -->
                    <button type="button" (click)="toggleStepperCreate()" matTooltip="Crea nuovo prodotto" data-tooltip-target="tooltip-copy" data-tooltip-placement="top" class="flex justify-center items-center w-[52px] h-[52px] text-gray-500 hover:text-gray-900 bg-white rounded-full border border-gray-200 dark:border-gray-600 dark:hover:text-white shadow-sm dark:text-gray-400 hover:bg-gray-50 dark:bg-gray-700 dark:hover:bg-gray-600 focus:ring-4 focus:ring-gray-300 focus:outline-none dark:focus:ring-gray-400">
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                            <path d="M5 9V4.13a2.96 2.96 0 0 0-1.293.749L.879 7.707A2.96 2.96 0 0 0 .13 9H5Zm11.066-9H9.829a2.98 2.98 0 0 0-2.122.879L7 1.584A.987.987 0 0 0 6.766 2h4.3A3.972 3.972 0 0 1 15 6v10h1.066A1.97 1.97 0 0 0 18 14V2a1.97 1.97 0 0 0-1.934-2Z"/>
                            <path d="M11.066 4H7v5a2 2 0 0 1-2 2H0v7a1.969 1.969 0 0 0 1.933 2h9.133A1.97 1.97 0 0 0 13 18V6a1.97 1.97 0 0 0-1.934-2Z"/>
                        </svg>
                        <span class="sr-only">Copy</span>
                    </button>
                    <!-- Tooltip di copia -->
                    <div id="tooltip-copy" role="tooltip" class="absolute z-10 invisible inline-block w-auto px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                        Copy
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                </div>
                
                <!-- Bottone per aprire il menu del dial -->
                <button (click)="toggleDial()" type="button" data-dial-toggle="speed-dial-menu-horizontal" aria-controls="speed-dial-menu-horizontal" aria-expanded="false" class="flex items-center justify-center text-white bg-blue-700 rounded-full w-12 h-12 hover:bg-blue-800 dark:bg-blue-600 dark:hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 focus:outline-none dark:focus:ring-blue-800">
                    <svg class="w-5 h-5 transition-transform group-hover:rotate-45" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                    </svg>
                    <span class="sr-only">Open actions menu</span>
                </button>
            </div>
        </div>
        
          <!-- dove finisce il div della barra -->
          <!-- inizio dial -->
            

           <!-- fine dial -->
          <div class="overflow-hidden ">
              <table class=" min-w-full rounded-xl">
                  <thead>
                      <tr class="bg-gray-50 " >
                          <th scope="col" class="sortbtn rounded-tl-2xl p-2 py-4 text-left text-sm leading-6 font-semibold text-gray-900 capitalize" (click)="sortByCode()"> Identificativo {{ codeCounter % 3 == 0 ? "" : codeCounter % 3 == 2 ? "↓" : "↑"}}</th>
                          <th scope="col" class="sortbtn  p-2 py-4 text-left text-sm leading-6 font-semibold text-gray-900 capitalize" (click)="sortBySupplier()"> Fornitore {{ supplierCounter % 3 == 0 ? "-" : supplierCounter % 3 == 2 ? "↓" : "↑"}} </th>
                          <th scope="col" class="sortbtn  p-2 py-4 text-left text-sm leading-6 font-semibold text-gray-900 capitalize" (click)="sortByCategory()"> Categoria {{ categoryCounter % 3 == 0 ? "-" : categoryCounter % 3 == 2 ? "↓" : "↑"}} </th>
                          <th scope="col" class="p-2 py-4 text-left text-sm leading-6 font-semibold text-gray-900 capitalize" > Nome Prodotto </th>
                          <th scope="col" class="p-2 py-4 text-left text-sm leading-6 font-semibold text-gray-900 capitalize"> Prezzo <br> unitario </th>
                          <th scope="col" class="p-2 py-4 text-left text-sm leading-6 font-semibold text-gray-900 capitalize"> Unità <br> rimanenti </th>
                          <th scope="col" class="p-2 py-4 text-left text-sm leading-6 font-semibold text-gray-900 capitalize"> u.m.1 </th>
                          <th scope="col" class="p-2 py-4 text-left text-sm leading-6 font-semibold text-gray-900 capitalize"> Confezioni <br> rimanenti </th>
                          <th scope="col" class="p-2 py-4 text-left text-sm leading-6 font-semibold text-gray-900 capitalize"> u.m.2 </th>
                          <th scope="col" class="sortbtn  p-2 py-4 text-left text-sm leading-6 font-semibold text-gray-900 capitalize" (click)="sortQuantityRemaining()"> Totale <br> rimanente {{ quantityRemainingCounter % 3 == 0 ? "-" : quantityRemainingCounter % 3 == 2 ? "↓" : "↑"}} </th>
                          <th scope="col" class="rounded-tr-2xl p-2 py-4 text-left text-sm leading-6 font-semibold text-gray-900 capitalize"> Azioni rapide </th>
                      </tr>
                  </thead>
                  <tbody class="divide-y divide-gray-300 ">
                      @for (product of products; track $index)
                       {
                            <tr 
                            app-product 
                            class="bg-white transition-all duration-500 hover:bg-gray-50" 
                            [ngClass]="{'bg-white': $index % 2 === 0, 'bg-violet-50': $index % 2 !== 0}" 
                            [product]="product">
                            </tr>
                       }
                    
                  </tbody>
              </table>
          </div>
      </div>
    </div>
    </div>


    <div>
        <app-new-product-stepper
        class="fixed inset-0 flex items-center justify-center z-50 p-6"
        style="background-color: rgba(0, 0, 0, 0.5);"
        (toggleForm)="toggleDialDaFiglio($event)"
        [ngClass]="{'hidden': !openCreateProductStepper}"
        >
        <!-- Contenuto del tuo stepper qui -->
        </app-new-product-stepper>
    </div>
<!-- <div class="fixed z-50">
    <div>
        <mat-icon aria-label="Example home icon" fontIcon="close" class=" flex z-50 p-6  w-96">close</mat-icon>
    </div>
</div> -->