body {
    background-color: #f4f5f7;
    font-family: 'Inter', sans-serif;
    color: #333;
}

.task-list-box {
    border-radius: 12px;
    background-color: #ffffff;
    transition: box-shadow 0.3s ease;
}

.task-list-box:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.card {
    border-radius: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem; /* Aggiungi margine a destra del checkbox per più spazio */
}

.custom-checkbox {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #2f4b7c;
    background-color: transparent;
    cursor: pointer;
}

.custom-checkbox:checked {
    background-color: #2f4b7c;
    border-color: #2f4b7c;
}

.card-body {
    display: flex;
    align-items: flex-start; /* Allinea il contenuto in cima */
}

.task-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.task-info h5 {
    margin-bottom: 1rem; /* Spazio sotto il titolo della task */
}

.details-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colonne uguali per Frequenza, Status, ecc. */
    gap: 2rem; /* Aumenta lo spazio tra le colonne */
    margin-top: 0.5rem; /* Spazio tra il titolo e i dettagli */
}

.detail-item {
    text-align: left;
    margin-right: 0;
    display: flex;
    flex-direction: column; /* Allinea il testo e il badge verticalmente */
    justify-content: center;
    min-width: 100px; /* Mantieni una larghezza minima per evitare ridimensionamenti */
}

.badge {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    border-radius: 999px;
    text-transform: uppercase;
    font-weight: 600;
}

.badge-settimanale {
    background-color: #DBD6E5;
    color: #665191;
}

.badge-bisettimanale {
    background-color: #FFF7D0;
    color: #FFA600;
}

.badge-mensile {
    background-color: #EAF4E0;
    color: #7eb745;
}

.badge-soft-pending {
    background-color: #FFE0D4;
    color: #FF7C43;
}

.badge-soft-completed {
    background-color: #D1F2FE;
    color: #003F5C;
}

.badge-soft-nevercompleted {
    background-color: #6c757d;
    color: white;
}

.icon-info {
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.icon-info:hover {
    color: #2f4b7c;
}

.action-buttons a {
    transition: color 0.3s ease;
}

.action-buttons .hover-primary:hover {
    color: #007bff;
}

.action-buttons .hover-danger:hover {
    color: #dc3545;
}

.task-item {
    margin-bottom: 1rem; /* Spazio tra i task */
}
