<div class="row">
    <div class="col-xl-12">
        <div class="task-list-box bg-white rounded-lg shadow-sm p-3" id="landing-task">
            <div id="task-item-1" class="task-item">
                <div class="card task-box rounded-lg border-0">
                    <div class="card-body d-flex align-items-center p-3">
                        <div class="checkbox-container">
                            <input 
                                [checked]="completed"
                                type="checkbox" 
                                class="form-check-input custom-checkbox" 
                                id="customCheck1" 
                                (click)="updateTaskSon()">
                        </div>
                        <div class="flex-grow-1 ml-4 d-flex justify-content-between align-items-center">
                            <div class="task-info">
                                <h5 class="text-dark mb-1"><b>{{task.name}}</b></h5>
                                
                                <div class="details-grid d-flex">
                                    <div class="detail-item mr-4">
                                        <div class="text-muted small">Frequenza</div>
                                        <span 
                                        [ngClass]="{'badge-settimanale': task.frequency==='SETTIMANALE','badge-bisettimanale': task.frequency==='BISETTIMANALE','badge-mensile': task.frequency==='MENSILE'}"
                                        class="badge rounded-pill text-xs py-1 px-3">
                                            {{task.frequency}}
                                        </span>
                                    </div>
                                    <div class="detail-item mr-4">
                                        <div class="text-muted small">Status</div>
                                        <span 
                                        [ngClass]="{'badge-soft-pending': task.status==='DAFARSI', 'badge-soft-completed': task.status==='COMPLETATO', 'badge-soft-nevercompleted': task.status==='INCOMPIUTO'}"
                                        class="badge rounded-pill text-xs py-1 px-3">
                                            {{task.status}}
                                        </span>
                                    </div>
                                    <div class="detail-item mr-4">
                                        <div class="text-muted small">Creazione</div>
                                        <div class="text-sm font-medium">{{task.creationDate | date: 'dd/MM/yyyy'}}</div>
                                    </div>
                                    <div class="detail-item">
                                        <div class="text-muted small">Completamento</div>
                                        <div class="text-sm font-medium">{{task.completionDate == null ? "gg/mm/yyyy" : task.completionDate | date: 'dd/MM/yyyy'}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-primary icon-info" viewBox="0 0 24 24" fill="none" stroke="#2F4B7C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" matTooltip="{{task.description}}">
                                    <circle cx="12" cy="12" r="10"></circle>
                                    <line x1="12" y1="16" x2="12" y2="12"></line>
                                    <line x1="12" y1="8" x2="12.01" y2="8"></line>
                                </svg>
                                <a href="#" class="text-muted hover-primary ml-4" data-bs-toggle="modal" data-bs-target=".bs-example-new-task">
                                    <i class="mdi mdi-pencil-outline text-xl"></i>
                                </a>
                                <a href="#" class="text-muted hover-danger ml-3" onclick="deleteProjects('task-item-1')">
                                    <i class="mdi mdi-trash-can-outline text-xl"></i>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
