/* Assicurati che il contenitore abbia una posizione relativa */
td {
    position: relative;
}

.general-svg-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.svg-container{
    display: flex;
    height: 0.5rem;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    justify-content: center;
}

.svg-odioso{
    display: flex;
    position: relative;
    height: 1rem;
    padding-right: 0.4rem;
    
    /* align-items: center; */
    /* justify-content: flex-end; */
}

/* Stile per il testo che appare al passaggio del mouse */
.hover-text {
    visibility: hidden; /* Inizialmente nascosto */
    width: 16rem; /* Modifica la larghezza secondo necessità */
    background-color: #8281e7;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1000;
    bottom: 100%; /* Posiziona il testo sopra la cella */
    left: 50%;
    transform: translateX(-50%); /* Centro il testo orizzontalmente */
    opacity: 0; /* Inizialmente trasparente */
    transition: opacity 0.3s, visibility 0.3s; /* Transizione dolce */
    pointer-events: none;
    overflow: visible;
}

/* Mostra il testo al passaggio del mouse */
td:hover .hover-text {
    visibility: visible; /* Mostra il testo */
    opacity: 1; /* Rendi il testo completamente opaco */
}

.statusDotRed{
    background-color: rgb(255, 56, 56);
    height: 0.7rem;
    width: 0.7rem;
    display: flex;
    border-radius: 50rem;
    position: absolute;
    transform: translateY(0.3rem);
    /* transform: translateX(0.5rem); */
}
.statusDotYellow{
    background-color: rgb(238, 210, 49);
    height: 0.7rem;
    width: 0.7rem;
    display: flex;
    border-radius: 50rem;
    position: absolute;
    transform: translateY(0.3rem);
    /* transform: translateX(0.5rem); */
}
.statusDotGreen{
    background-color: rgb(115, 230, 87);
    height: 0.7rem;
    width: 0.7rem;
    display: flex;
    border-radius: 50rem;
    position: absolute;
    transform: translateY(0.3rem);
    /* transform: translateX(0.5rem); */
}

.general-svg-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.svg-container{
    display: flex;
    height: 0.5rem;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    justify-content: center;
}

.hide{
    display: none !important;
}

.svg-odioso{
    display: flex;
    position: relative;
    height: 1rem;
    padding-right: 0.4rem;
    
    /* align-items: center; */
    /* justify-content: flex-end; */
}

/* .hidden{
    display: none !important;
}

.hidden2{
    display: none !important;
} */

.btnBg{
    background-color: transparent;
    /* border-radius: 50rem; */
}

.btnBg:hover{
    background-color: rgb(226, 226, 226);
    /* border-radius: 50rem; */
}

.example-form {

    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
    /* height: 50%; */
  }


