.menu-item a {
    transition: transform 0.4s ease;
    background-color: transparent; /* Evita lo sfondo grigio al passaggio del mouse */
}

.menu-item a:hover {
    transform: translateX(20px);
    background-color: #9cc4dc3a; /* Mantiene lo sfondo trasparente al passaggio del mouse */
    border-top-left-radius: 50rem;
    border-bottom-left-radius: 50rem;
}

.menu-item .active-link {
    font-weight: bold;
    color:#2f4b7c;
    transform: translateX(20px) !important;  /* Ferma il movimento per l'elemento attivo */
    transition: none !important;          /* Disabilita qualsiasi transizione */
    cursor: default !important;
    background-color: #9cc4dc3a;          /* Cambia il cursore in freccia */
    border-top-left-radius: 50rem;
    border-bottom-left-radius: 50rem;
}

.menu-item .active-link:hover {
    transform: translateX(20px) !important;           /* Nessuna trasformazione */
    transition: none !important;          /* Nessuna transizione */
    background-color: #9cc4dc3a;
}








.hidden
{
    display: none;
}

@media (min-width: 1770px) and (max-width: 1920px) {
    .setPosition {
        position: absolute; /* Posiziona il menu in modo assoluto rispetto al primo antenato posizionato */
        top: 40%; /* Posiziona il menu subito sotto il bottone */
        left:93%; /* Allinea il menu con il bordo sinistro del bottone */
        z-index: 1000; /* Assicurati che il menu sia sopra gli altri contenuti */
       
    }
}

@media (min-width:1200px) and (max-width: 1769px) {
    .setPosition {
        position: absolute; /* Posiziona il menu in modo assoluto rispetto al primo antenato posizionato */
        top: 40%; /* Posiziona il menu subito sotto il bottone */
        left:90%; /* Allinea il menu con il bordo sinistro del bottone */
        z-index: 1000; /* Assicurati che il menu sia sopra gli altri contenuti */
        
    }
}

@media (min-width:800px) and (max-width: 1199px) {
    .setPosition {
        position: absolute; /* Posiziona il menu in modo assoluto rispetto al primo antenato posizionato */
        top: 40%; /* Posiziona il menu subito sotto il bottone */
        left:85%; /* Allinea il menu con il bordo sinistro del bottone */
        z-index: 1000; /* Assicurati che il menu sia sopra gli altri contenuti */
        
    }
}

@media (min-width:400) and (max-width: 799px) {
    .setPosition {
        position: flex; /* Posiziona il menu in modo assoluto rispetto al primo antenato posizionato */
        top: 40%; /* Posiziona il menu subito sotto il bottone */
        left:85%; /* Allinea il menu con il bordo sinistro del bottone */
        z-index: 1000; /* Assicurati che il menu sia sopra gli altri contenuti */
        
    }
}

